body {
    background: #000;
    color: #fff;
    margin: 0;
    font-family: 'Roboto Mono';
}

code {
    font-size: 1.4rem;
    color: #fc0303;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
}

.hero-inner {
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin-top: 0;
    font-family: 'Roboto';
}

.hero h2 {
    font-weight: 400;
}

.section {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section h2 {
    margin-left: -12px;
}

.section h2:before {
    content: '#';
    position: relative;
    right: 15px;
    opacity: .5;
}
